Repository w3c/aria-practices, pull requests merged in 2020-12, with the labels that each got.

#1602 Infrastructure: Combine ESLint config at root
  .eslintrc.json
  scripts/.eslintrc.json
  test/.eslintrc.json
Labels: Infrastructure, enhancement

#1623 Autocomplete and Date Picker Combobox Examples: Update to conform with latest APG coding guidelines
  examples/combobox/js/combobox-autocomplete.js
  examples/combobox/js/combobox-datepicker.js
Labels: enhancement, example of pattern implementation

#1639 Spin Button Date Picker: Fix unreliable date math test
  test/tests/spinbutton_datepicker.js
Labels: bug, example of pattern implementation

#1652 Open in Codepen: add button to 5 more examples
  cspell.json
  examples/combobox/grid-combo.html
  examples/combobox/js/grid-combo-example.js
  examples/combobox/js/grid-combo.js
  examples/disclosure/css/disclosure-faq.css
  examples/disclosure/css/disclosure-img-long-description.css
  examples/disclosure/disclosure-faq.html
  examples/disclosure/disclosure-img-long-description.html
  examples/disclosure/images/down-arrow-brown.png
  examples/disclosure/images/right-arrow-brown.png
  examples/js/examples.js
  examples/listbox/listbox-scrollable.html
  examples/slider/slider-2.html
  examples/spinbutton/datepicker-spinbuttons.html
  examples/table/table.html
  examples/treeview/treeview-2/css/treeLinks.css
  examples/treeview/treeview-2/images/down-arrow-brown.png
  examples/treeview/treeview-2/images/right-arrow-brown.png
  examples/treeview/treeview-2/treeview-2a.html
  examples/treeview/treeview-2/treeview-2b.html
Labels: enhancement, example of pattern implementation

#1642 Button Examples: Add Open in Codepen and inline SVG in HTML using SVG "def"s
  examples/button/button.html
  examples/button/images/mute.svg
  examples/button/js/button.js
  examples/js/examples.js
Labels: enhancement, example of pattern implementation

#1669 Infrastructure: Add newline at EOF when generating example index
  examples/index.html
  scripts/reference-tables.js
Labels: Infrastructure, bug

#1648 disclosure examples: Support high contrast for graphics in Codepen by using current color in SVTG in CSS content
  examples/disclosure/css/disclosure-faq.css
  examples/disclosure/css/disclosure-img-long-description.css
Labels: enhancement, example of pattern implementation

#1693 Add "Open in Codepen" to link example
  examples/css/core.css
  examples/link/css/link.css
  examples/link/images/w3c-logo.png
  examples/link/images/w3c-logo.svg
  examples/link/link.html
Labels: enhancement, example of pattern implementation
