Repository w3c/aria-practices, pull requests merged in 2020-09, with the labels that each got.

#1494 Date Picker Dialog: fix aria-select bug when using space key
  examples/dialog-modal/js/datepicker-dialog.js
Labels: bug, example of pattern implementation

#1387 carousel Example with buttons for slide control: Improve High Contrast Support and implementation of APG Programming Practices
  examples/carousel/carousel-1-prev-next.html
  examples/carousel/carousel-2-tablist.html
  examples/carousel/css/carousel-1-more-accessible.css
  examples/carousel/css/carousel-1.css
  examples/carousel/css/carousel-prev-next.css
  examples/carousel/js/carousel-prev-next.js
  examples/carousel/js/carousel.js
  examples/carousel/js/carouselButtons.js
  examples/carousel/js/carouselItem.js
  examples/carousel/js/pauseButton.js
  test/tests/carousel_carousel-1-prev-next.js
Labels: enhancement, example of pattern implementation

#1503 Carousel Example with Tabs for Slide Control: Make JavaScript easier to understand
  examples/carousel/js/carousel-tablist.js
Labels: enhancement, example of pattern implementation

#1530 Fix links to Carousel Example with Buttons for Slide Control
  aria-practices.html
  examples/carousel/carousel-2-tablist.html
Labels: bug
