Repository w3c/aria-practices, pull requests merged in 2021-10, with the labels that each got.

#1882 Landmark Regions: Updated example pages references to latest docs
  examples/landmarks/HTML5.html
  examples/landmarks/at.html
  examples/landmarks/banner.html
  examples/landmarks/complementary.html
  examples/landmarks/contentinfo.html
  examples/landmarks/form.html
  examples/landmarks/images/landmarks-orca.png
  examples/landmarks/index.html
  examples/landmarks/js/SkipTo.min.js
  examples/landmarks/js/skipto.min.js
  examples/landmarks/js/visua11y.js
  examples/landmarks/main.html
  examples/landmarks/navigation.html
  examples/landmarks/region.html
  examples/landmarks/resources.html
  examples/landmarks/search.html
Labels: bug, enhancement, example of pattern implementation

#1940 Alert example: remove non-English text from alert content"
  examples/alert/alert.html
Labels: example of pattern implementation, QA for APG Examples

#2053 Landmark Examples Assistive Technology page: Add information about skipto scripts
  examples/landmarks/HTML5.html
  examples/landmarks/at.html
  examples/landmarks/banner.html
  examples/landmarks/complementary.html
  examples/landmarks/contentinfo.html
  examples/landmarks/form.html
  examples/landmarks/images/landmarks-skipto.png
  examples/landmarks/index.html
  examples/landmarks/js/skipto.min.js
  examples/landmarks/js/visua11y.js
  examples/landmarks/main.html
  examples/landmarks/navigation.html
  examples/landmarks/region.html
  examples/landmarks/resources.html
  examples/landmarks/search.html
Labels: editorial, example of pattern implementation

#1888 Infrastructure: Make 'npm run regression' run as headless by default
  test/index.js
Labels: Infrastructure

#1782 Infrastructure: chore: Enable and fix additional HTMLHint rules
  .htmlhintrc
  aria-practices-DeletedSectionsArchive.html
  aria-practices.html
  coverage/index.html
  examples/index.html
  examples/landmarks/HTML5.html
  examples/landmarks/at.html
  examples/landmarks/banner.html
  examples/landmarks/complementary.html
  examples/landmarks/contentinfo.html
  examples/landmarks/form.html
  examples/landmarks/index.html
  examples/landmarks/main.html
  examples/landmarks/navigation.html
  examples/landmarks/region.html
  examples/landmarks/resources.html
  examples/landmarks/search.html
  examples/menu-button/menu-button-actions.html
  examples/menu-button/menu-button-links.html
  examples/menubar/menubar-navigation.html
  examples/slider/slider-multithumb.html
  examples/treeview/treeview-navigation.html
  package.json
  scripts/coverage-report.template
Labels: Infrastructure

#2076 Switch Example using HTML Button: Replace SingleQuotes with Doublequotes for attribute values
  examples/switch/switch-button.html
Labels: example of pattern implementation, Code Quality

#2055 Combobox Examples with listbox popups: scroll item referenced by aria-activedescendant into view
  examples/combobox/combobox-autocomplete-both.html
  examples/combobox/combobox-autocomplete-list.html
  examples/combobox/combobox-autocomplete-none.html
  examples/combobox/css/combobox-autocomplete.css
  examples/combobox/js/combobox-autocomplete.js
  examples/index.html
Labels: example of pattern implementation, QA for APG Examples

#1651 disclosure navigation Example: Add "Open in CodePen" button
  examples/disclosure/disclosure-navigation.html
Labels: enhancement, example of pattern implementation, agenda

#2079 Combobox examples with list popups: Fix missing closing LI in accessibility features section
  examples/combobox/combobox-autocomplete-both.html
  examples/combobox/combobox-autocomplete-list.html
  examples/combobox/combobox-autocomplete-none.html
Labels: example of pattern implementation, Code Quality
