Repository w3c/aria-practices, pull requests merged in 2023-09, with the labels that each got.

#2797 ReadMe: Remove section about coverage and quality report
  README.md
Labels: enhancement, editorial

#2779 Treegrid Pattern keyboard section: Correct text for Control + Home/End
  content/patterns/treegrid/treegrid-pattern.html
Labels: editorial, pattern section

#2803 11 Example pages: Fix typo in accessibility features: change 'an' to …
  content/patterns/combobox/examples/combobox-autocomplete-both.html
  content/patterns/combobox/examples/combobox-autocomplete-list.html
  content/patterns/combobox/examples/combobox-autocomplete-none.html
  content/patterns/disclosure/examples/disclosure-faq.html
  content/patterns/disclosure/examples/disclosure-image-description.html
  content/patterns/menu-button/examples/menu-button-actions-active-descendant.html
  content/patterns/menu-button/examples/menu-button-actions.html
  content/patterns/menu-button/examples/menu-button-links.html
  content/patterns/menubar/examples/menubar-navigation.html
  content/patterns/switch/examples/switch-checkbox.html
  content/patterns/switch/examples/switch.html
Labels: editorial, example of pattern implementation

#2805 Developing a Keyboard Interface Practice: Add missing `kbd` element to macOS re-do command in 'Key Assignment Conventions for Common Functions'
  content/practices/keyboard-interface/keyboard-interface-practice.html
Labels: editorial, guidance section
