Repository w3c/aria-practices, pull requests merged in 2023-07, with the labels that each got.

#2733 Combobox Pattern: Simplify wording of description in "About This Pattern" section
  content/patterns/combobox/combobox-pattern.html
Labels: editorial, documentation, pattern section

#2737 Reposition AT support tables higher on the page
  content/patterns/alert/examples/alert.html
  content/patterns/button/examples/button.html
  content/patterns/link/examples/link.html
  content/patterns/radio/examples/radio-activedescendant.html
Labels: enhancement, documentation, example of pattern implementation

#2736 Add AT Support tables for modal dialog, 1 slider, and navigation menu button
  content/patterns/dialog-modal/examples/dialog.html
  content/patterns/menu-button/examples/menu-button-links.html
  content/patterns/slider/examples/slider-color-viewer.html
Labels: enhancement, documentation, example of pattern implementation

#2738 Landmark Example Pages: remove background colours that cause color contrast failures
  content/patterns/landmarks/examples/css/common.css
Labels: bug, example of pattern implementation

#2750 Switch Example Using HTML Checkbox: Fix editorial error in accessibility features documentation
  content/patterns/switch/examples/switch-checkbox.html
Labels: editorial, example of pattern implementation, Inaccuracy

#2749 Infrastructure: Update `localhost` references for regression tests
  .github/workflows/regression.yml
  test/index.js
  test/util/start-geckodriver.js
Labels: Infrastructure
