Repository w3c/aria-practices, pull requests merged in 2023-06, with the labels that each got.

#2683 Read Me First: Remove reference to Internet Explorer in browser support section
  content/practices/read-me-first/read-me-first-practice.html
Labels: editorial, documentation, guidance section

#2704 Hiding Semantics Practice Page: Add missing word "that"
  content/practices/hiding-semantics/hiding-semantics-practice.html
Labels: editorial, documentation, Feedback, guidance section

#2721 Layout Grids Example 3 - Scrollable Search Results: Update example content to replace an obsolete link
  content/patterns/grid/examples/layout-grids.html
Labels: editorial, example of pattern implementation

#2624 Landmark examples: Update links to related documents and SkipTo script
  content/patterns/landmarks/examples/HTML5.html
  content/patterns/landmarks/examples/at.html
  content/patterns/landmarks/examples/banner.html
  content/patterns/landmarks/examples/complementary.html
  content/patterns/landmarks/examples/contentinfo.html
  content/patterns/landmarks/examples/form.html
  content/patterns/landmarks/examples/general-principles.html
  content/patterns/landmarks/examples/js/skipto.min.js
  content/patterns/landmarks/examples/main.html
  content/patterns/landmarks/examples/navigation.html
  content/patterns/landmarks/examples/region.html
  content/patterns/landmarks/examples/resources.html
  content/patterns/landmarks/examples/search.html
Labels: editorial, example of pattern implementation

#2724 Example Pages: Change Javascript to JavaScript in h2 elements
  content/patterns/accordion/examples/accordion.html
  content/patterns/alert/examples/alert.html
  content/patterns/breadcrumb/examples/breadcrumb.html
  content/patterns/button/examples/button.html
  content/patterns/button/examples/button_idl.html
  content/patterns/carousel/examples/carousel-1-prev-next.html
  content/patterns/carousel/examples/carousel-2-tablist.html
  content/patterns/checkbox/examples/checkbox-mixed.html
  content/patterns/checkbox/examples/checkbox.html
  content/patterns/combobox/examples/combobox-autocomplete-both.html
  content/patterns/combobox/examples/combobox-autocomplete-list.html
  content/patterns/combobox/examples/combobox-autocomplete-none.html
  content/patterns/combobox/examples/combobox-datepicker.html
  content/patterns/combobox/examples/combobox-select-only.html
  content/patterns/combobox/examples/grid-combo.html
  content/patterns/dialog-modal/examples/datepicker-dialog.html
  content/patterns/dialog-modal/examples/dialog.html
  content/patterns/disclosure/examples/disclosure-faq.html
  content/patterns/disclosure/examples/disclosure-image-description.html
  content/patterns/disclosure/examples/disclosure-navigation-hybrid.html
  content/patterns/disclosure/examples/disclosure-navigation.html
  content/patterns/feed/examples/feed.html
  content/patterns/grid/examples/advanced-data-grid.html
  content/patterns/grid/examples/data-grids.html
  content/patterns/grid/examples/layout-grids.html
  content/patterns/link/examples/link.html
  content/patterns/listbox/examples/listbox-collapsible.html
  content/patterns/listbox/examples/listbox-grouped.html
  content/patterns/listbox/examples/listbox-rearrangeable.html
  content/patterns/listbox/examples/listbox-scrollable.html
  content/patterns/menu-button/examples/menu-button-actions-active-descendant.html
  content/patterns/menu-button/examples/menu-button-actions.html
  content/patterns/menu-button/examples/menu-button-links.html
  content/patterns/menubar/examples/menubar-editor.html
  content/patterns/menubar/examples/menubar-navigation.html
  content/patterns/meter/examples/meter.html
  content/patterns/radio/examples/radio-activedescendant.html
  content/patterns/radio/examples/radio-rating.html
  content/patterns/radio/examples/radio.html
  content/patterns/slider-multithumb/examples/slider-multithumb.html
  content/patterns/slider/examples/slider-color-viewer.html
  content/patterns/slider/examples/slider-rating.html
  content/patterns/slider/examples/slider-seek.html
  content/patterns/slider/examples/slider-temperature.html
  content/patterns/spinbutton/examples/datepicker-spinbuttons.html
  content/patterns/switch/examples/switch-button.html
  content/patterns/switch/examples/switch-checkbox.html
  content/patterns/switch/examples/switch.html
  content/patterns/table/examples/sortable-table.html
  content/patterns/table/examples/table.html
  content/patterns/tabs/examples/tabs-automatic.html
  content/patterns/tabs/examples/tabs-manual.html
  content/patterns/toolbar/examples/toolbar.html
  content/patterns/treegrid/examples/treegrid-1.html
  content/patterns/treeview/examples/treeview-1a.html
  content/patterns/treeview/examples/treeview-1b.html
  content/patterns/treeview/examples/treeview-navigation.html
Labels: editorial, example of pattern implementation, Feedback

#2722 Checkbox Example (Mixed-State): Toggle on keyup to prevent continuous toggling
  content/patterns/checkbox/examples/js/checkbox-mixed.js
Labels: bug, example of pattern implementation

#2680 Skipto menu on all pages: Update skipto.js script to version 5.1.6
  content/shared/js/skipto.js
Labels: Infrastructure, javascript

#2617 Infrastructure: Update vnu-jar parameters to remove unused paths
  content/shared/templates/example-usage-warning.html
  package.json
Labels: Infrastructure
